<html>
<head> {$ if title %}
    <title>{{ title }} - Microblog</title> {% else %}
<title>Welcome to Microblog</title>
{% endif %}
    </head>
    <body>
        <div>Microblog: <a href="/index">Home</a></div>
        <hr>
        {% block content %}  <h1>POD: A Humane Social Media</h1>
<h2>Welcome to POD</h2>{% endblock %}
    </body>
</html>

</head>






    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</html>